<?xml version='1.0' encoding='utf-8'?>
<plugin id="facephi-core-plugin" version="1.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>FPhiCoreWidget</name>	
  <description>Facephi Core Plugin for Cordova</description>
  <license>Apache 2.0</license>
  <keywords>cordova,core, facephi,Widget,android,ios</keywords>  
	
	<platform name="android">
		<framework custom="true" src="android/build.gradle" type="gradleReference" />
		<resource-file src="android/libs"
                  target="../../aar" />
    <resource-file src="android/libs"
                  target="../../app/aar" />
	</platform>
	
    <platform name="ios">
		<framework src="SelphiCorePlugin" type="podspec" spec=":path => '../../plugins/facephi-core-plugin/ios/SelphiCorePlugin.podspec'" />
    </platform>
</plugin>
