<?xml version='1.0' encoding='utf-8'?>
<plugin id="facephi-selphi-plugin" version="1.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>WidgetFacephi</name>	
  <description>Selphi Widget Plugin for Cordova</description>
  <license>Apache 2.0</license>
  <keywords>cordova,selphi,facephi,Widget,android,ios</keywords>

  <js-module src="www/WidgetConfig.js"  name="WidgetConfig">
    <clobbers target="facephi.widget.config" />
  </js-module>
  <js-module src="www/WidgetLivenessDiagnostic.js"  name="WidgetLivenessDiagnostic">
    <clobbers target="facephi.widget.liveness" />
  </js-module>
  <js-module src="www/WidgetLivenessMode.js"  name="WidgetLivenessMode">
    <clobbers target="facephi.widget.livenessmode" />
  </js-module>
  <js-module src="www/WidgetErrorType.js"  name="WidgetErrorType">
    <clobbers target="facephi.widget.error" />
  </js-module>
  <js-module src="www/WidgetFinishStatus.js"  name="WidgetFinishStatus">
    <clobbers target="facephi.widget.finish" />
  </js-module>
  <js-module src="www/WidgetMode.js"  name="WidgetMode">
    <clobbers target="facephi.widget.mode" />
  </js-module>
  <js-module src="www/WidgetResult.js"  name="WidgetResult">
    <clobbers target="facephi.widget.result" />
  </js-module>
  <js-module src="www/WidgetUtils.js"  name="WidgetUtils">
    <clobbers target="facephi.widget.utils" />
  </js-module>
  <js-module src="www/WidgetFacephi.js"  name="WidgetFacephi">
    <clobbers target="facephi.widget.universal" />
  </js-module>
  <js-module src="www/WidgetPassiveDiagnostic.js"  name="WidgetPassiveDiagnostic">
     <clobbers target="facephi.widget.passivediagnostic" />
   </js-module>
  <js-module src="www/WidgetPassiveServerResult.js"  name="WidgetPassiveServerResult">
     <clobbers target="facephi.widget.passiveserver" />
   </js-module>
  
	
	<platform name="android">
		<framework src="com.android.support:appcompat-v7:28.+" />
		<framework src="com.android.support:design:28.+"/>
		<framework src="com.android.support:percent:28.+"/>
		<framework src="com.android.support.constraint:constraint-layout:1.1.3"/>
		<resource-file src="fphi-selphi-widget-resources-selphi-live-1.2.zip" target="assets/fphi-selphi-widget-resources-selphi-live-1.2.zip"/>
		<config-file parent="/*" target="config.xml">
			<feature name="WidgetFacephi">
				<param name="android-package" value="facephi.plugin.widget.WidgetFacephi" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-feature android:name="android.hardware.camera" />
      <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    </config-file>
	 <config-file target="AndroidManifest.xml" parent="/manifest/application">
		<activity android:name="com.facephi.selphi.Widget" android:label="WidgetAndroid" 
		android:screenOrientation="portrait"
            android:configChanges="orientation"/>
     </config-file> 
        <source-file src="android/OutputBundle.java" target-dir="src/facephi/plugin/widget" />
        <source-file src="android/WidgetFacephi.java" target-dir="src/facephi/plugin/widget" />
        <source-file src="android/QRValidator.java" target-dir="src/facephi/plugin/widget" />
        <source-file src="android/ImageUtils.java" target-dir="src/facephi/plugin/widget" />
		<framework custom="true" src="android/build.gradle" type="gradleReference" />
		<resource-file src="android/libs" target="../../libs" />
    <resource-file src="android/libs" target="../../app/libs" />
	</platform>
	
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="WidgetFacephi">
                <param name="ios-package" value="WidgetFacephi" />
            </feature>
        </config-file>
		<preference name="CAMERA_USAGE_DESCRIPTION" default="This app needs camera access"/>
		<config-file target="*-Info.plist" parent="NSCameraUsageDescription">
			<string>$CAMERA_USAGE_DESCRIPTION</string>
		</config-file>
        <framework src="QuartzCore.framework" />
        <framework src="UIKit.framework" />
        <framework src="GLKit.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="libc++.dylib" />
        <framework src="Foundation.framework" />
        <framework src="SelphiPlugin" type="podspec" spec=":path => '../../plugins/facephi-selphi-plugin/ios/SelphiPlugin.podspec'" />
	      <resource-file src="fphi-selphi-widget-resources-selphi-live-1.2.zip" />
        <source-file src="ios/WidgetFacephi.m" />
    </platform>
</plugin>
